@{
    ViewData["Title"] = "User Registration";
}

<h2>User Registration</h2>

@using (Html.BeginForm("Register", "Registration", FormMethod.Post))
{
    <div class="form-group">
        <label>Email address:</label>
        @Html.TextBox("email", "", new { @class = "form-control" })
    </div>
    <br />
    <div class="form-group">
        <label>Consent:</label>
        @Html.CheckBox("consent")
    </div>
    <br />
    <div class="form-group">
        <label>Age:</label>
        @Html.TextBox("age", "", new { @type = "number", @class = "form-control" })
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Submit</button>
}

@if (ViewBag.Message != null)
{
    <div class="alert alert-info mt-3">
        @ViewBag.Message
    </div>
}
