@model List<sklep.Models.ProductViewModel>

<h2>Lista Produktów</h2>

<a asp-action="Create" class="btn btn-success">Dodaj produkt</a>

<table class="table">
    <thead>
        <tr>
            <th>Nazwa</th>
            <th>Kategoria</th>
            <th>Cena</th>
            <th>Ilość</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Name</td>
                <td>@product.CategoryId</td>
                <td>@product.Price</td>
                <td>@product.StockQuantity</td>
            </tr>
        }
    </tbody>
</table>
