@{
    ViewData["Title"] = "Access Restricted";
}

<div class="text-center">
    <h1 class="display-4">Restricted Access</h1>
    <p>Sorry, you must be at least 18 years old to access this section.</p>
</div>
